{% extends "base.html" %}

{% block content %}
<div>	
		{{error}}
	
</div>
		
	<form action="" style="border:none" method = "POST">
	    <p><label  for="email"><b>Email</b></label>
		<input type="text" style="width: 200px" placeholder="Enter Email" name="email"></p>

		<p><label  for="password"><b>Password</b></label>
		<input type="password" style="width: 200px" placeholder= "Enter Password" name="password"></p>
        
		<p><button type="submit" style="width: 200px">Login</button></p>
		
		<h3>Dont Have an account??</h3>
		<h3><a href = "{{url_for('register')}}" style="background-color:#f1f1f1">Register Here</a></h3>
		
	</form>

<br><br>

{% endblock content %}